In [4]:
#Write a function that computes the volume of a sphere given its radius.
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [5]:
vol(2)

33.49333333333333

In [7]:
#Write a function that checks whether a number is in a given range (inclusive of high and low)
def ran_check(num,low,high):
    if num in range(low,high+1):
        print('{} is in the range between {} and {}'.format(num,low,high))
    else:
        print('The number is outside the range.')

In [9]:
ran_check(5,2,7)

5 is in the range between 2 and 7

In [11]:
ran_check(3,4,6)

The number is outside the range.

In [13]:
def ran_bool(num,low,high):
    return num in range(low,high+1)

In [16]:
ran_bool(3,2,4)

True

In [20]:
#Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

#Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
#Expected Output : 
#No. of Upper case characters : 4
#No. of Lower case Characters : 33

def up_low(s):
    d={"upper":0, "lower":0}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

In [24]:
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

In [26]:
#Write a Python function that takes a list and returns a new list with unique elements of the first list.

#Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
#Unique List : [1, 2, 3, 4, 5]

def uni_list(num):
    x=[]
    for a in num:
        if a not in x:
            x.append(a)
        else:
            pass
    return x

In [32]:
uni_list ([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [39]:
#Write a Python function to multiply all the numbers in a list.

#Sample List : [1, 2, 3, -4]
#Expected Output : -24

def multiple(num):
    total =1
    for a in num:
        total *= a
    return total

In [40]:
multiple([1,2,3,-4])

-24