In [1]:
#LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are oddူ#lesser_of_two_evens(2,4) --> 2
#lesser_of_two_evens(2,5) --> 5

def lesser_of_two_evens(a,b):
    if a%2 ==0 and b%2 ==0:
        return min(a,b)
    else:
        return max(a,b)

In [3]:
lesser_of_two_evens(2,4)

2

In [5]:
lesser_of_two_evens(2,5)

5

In [9]:
#ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
#animal_crackers('Levelheaded Llama') --> True
#animal_crackers('Crazy Kangaroo') --> False

def animal_crackers(text):
    word_list = text.split()
    return word_list[0][0] == word_list[1][0]

In [11]:
animal_crackers('Levelheaded Llama')

True

In [13]:
animal_crackers('Crazy Kangaroo')

False

In [20]:
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
#makes_twenty(20,10) --> True
#makes_twenty(12,8) --> True
#makes_twenty(2,3) --> False

def makes_twenty(n1,n2):
    if (n1+n2)==20 or n1 == 20 or n2 ==20:
        return True
    else:
        return False

In [22]:
makes_twenty(20,10)

True

In [24]:
makes_twenty(12,8)

True

In [26]:
makes_twenty(2,3)

False

In [49]:
#LD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
#old_macdonald('macdonald') --> MacDonald
def old_macdonald(name):
    if len(name)>3:
        return  name[:3].capitalize() +name[3:].capitalize()
    else:
        return 'Name is too short'

In [53]:
old_macdonald('macdonald')

'MacDonald'

In [66]:
#MASTER YODA: Given a sentence, return a sentence with the words reversed
#master_yoda('I am home') --> 'home am I'
#master_yoda('We are ready') --> 'ready are We'

def master_yoda(word):
    return ' '.join(word.split()[::-1])

In [68]:
master_yoda('I am home')

'Home am i'

In [87]:
#ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
#almost_there(90) --> True
#almost_there(104) --> True
#almost_there(150) --> False
#almost_there(209) --> True

def almost_there(n):
    return ((abs(100-n)<= 10) or (abs(200-n)<= 10))

In [89]:
almost_there(90)

True

In [90]:
almost_there(104)

True

In [92]:
almost_there(150)

False

In [94]:
almost_there(209)

True

In [96]:
#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

#has_33([1, 3, 3]) → True
#has_33([1, 3, 1, 3]) → False
#has_33([3, 1, 3]) → False

def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i:i+2]==[3,3]:
            return True
    return False

In [97]:
has_33([1,3,3])

True

In [99]:
has_33([1,3,1,3])

False

In [109]:
has_33([3,1,3])

[3, 1]

In [3]:
#PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
#paper_doll('Hello') --> 'HHHeeellllllooo'
#paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

def paper_doll(string):
    result = ''
    for text in string:
        result += text * 3
    return result

In [4]:
paper_doll('Hello')

'HHHeeellllllooo'

In [5]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [3]:
#BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
#blackjack(5,6,7) --> 18
#blackjack(9,9,9) --> 'BUST'
#blackjack(9,9,11) --> 19

def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) > 21 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [11]:
blackjack(5,6,7)

18

In [12]:
blackjack(9,9,9)

'BUST'

In [4]:
blackjack(9,9,11)

19

In [6]:
#SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 #spy_game([1,2,4,0,0,7,5]) --> True
 #spy_game([1,0,2,4,0,5,7]) --> True
 #spy_game([1,7,2,0,4,5,0]) --> False
    
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [8]:
spy_game([1,2,4,0,0,7,5])

True

In [10]:
spy_game([1,0,2,4,0,5,7])

True

In [11]:
spy_game([1,7,2,0,4,5,0])

False

In [13]:
#COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  # use the primes list!
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [16]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [18]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [20]:
print_big('a')

  *
 * *
*****
*   *
*   *

In [23]:
#Used to lambda
f= lambda x, y: x+y

In [28]:
f(2,3)

5

In [30]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
temp = (36.5, 37, 37.5,39)

In [32]:
F = map(fahrenheit,temp)

In [36]:
print ('Fahrenheit',F)

Fahrenheit <map object at 0x000001B7EA41F3C8>

In [51]:
#Used to map()
a=[1,2,3,4]
b = [17,12,11,10]
c = [-1,-4,5,9]
d=map(lambda x,y:x+y, a,b)
e = map(lambda x,y,z: x+y+z,a,b,c)

In [52]:
print(list(e))

[17, 10, 19, 23]

In [60]:
def starts_with_A(s):
    return s[0] == "A"

fruit = ["Apple", "Banana", "Pear", "Apricot", "Orange"]
map_object = map(starts_with_A, fruit)

print(list(map_object))

[True, False, False, True, False]

In [61]:
import datetime
end_date = datetime.datetime(2020,1,1)
start_date = datetime.datetime(2019, 4, 1)

num_months = (end_date.year - start_date.year) * 12 + (end_date.month - start_date.month)

In [62]:
print('Num of months',num_months)

Num of months 9